
<div class="row g-12 wrapper">
    <div class="col-md-12 inner-20">
      <h1 class="mb-40">Über uns</h1>
      <h2>contboxx ist eine Marke der Adversign Media GmbH</h2> 
      <p>
        Die Adversign Media GmbH ist Spezialanbieter für Digital Signage Netzwerke und Lieferant für Digital Signage Content. contboxx ist das Internetportal für den Online-Handel mit Content von Adversign Media.

        Bereits seit mehreren Jahren betreibt die Adversign Media GmbH mehrere eigene DS-Systeme in verschiedenen Einkaufszentren in Deutschland. Im Jahre 2009 begann die Adversign Media GmbH damit, den Bereich Content-Handel weiter auszubauen. Bereits Ende des Jahres 2010 publizierten mehr als 6.000 Bildschirme in Deutschland Content von Adversign Media.
      </p>
    </div>
</div>


