
<app-nav></app-nav>

<div class="row">
  <div class="col-md-4">
    <h2>Product-List</h2>
  </div>
  <div class="col-md-4">
    <a href="#" (click)="onNew($event)">New Product</a>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row inner-tb-20">
  <div class="col-md-12">
    <app-data-filter-form [fields]="regConfig" [numberOfColumns]="rows" (submit)="onDataFilter($event)"></app-data-filter-form>
  </div>
</div>

<table *ngIf="collectionParts?.length; else infoBox" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category-ID</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of collectionParts">
        <td scope="row">{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>€ {{p.price}}</td>
        <td>{{p.categoryId}}</td>
        <td>
          <a [routerLink]="['/admin/product/', p.id]">Detail</a> | 
          <a href="#" (click)="onEdit($event, p)">Edit</a> |
          <a href="#" (click)="onDelete($event, p)">Delete</a>
        </td>
      </tr>
    </tbody>
</table>

<ng-template #infoBox>
  <p>keine Produkte vorhanden</p>
</ng-template>


<div class="col-md-12">
  <app-pager [collection]="products" [range]="range" [link]="link"></app-pager>
</div>
