<div class="row g-12 wrapper">
    <div class="col-md-6 inner-20">
      <h1 class="mb-40">Digital Signage Content</h1>
      <h2>Content Online Shop</h2> 
      <p>Multimediale dynamische Inhalte für Digital Signage Systeme. In unserem Shop finden Sie Content für Ihre Bildschirme von der Wettervorhersage über Nachrichten bis hin zu Sport- oder Boulevard - News.</p>
    </div>
    <div  class="col-md-6">
      <img class="d-block mx-auto mb-3" src="assets/images/contboxx-teaser.jpg" alt="Digital-Signage-Shop" width="485" height="474">
    </div>
</div>
