
<div class="row g-12 wrapper">

  <div class="col-md-8 inner-20">
    <h1 class="mb-40">Wählen Sie eine Content-Kategorie</h1>
  </div>
  <div class="col-md-4 inner-20">
      <app-shopping-cart-button class="d-flex justify-content-end"></app-shopping-cart-button>
  </div>
    <div class="col-md-12 inner-20">
      <div class="float-none">
        <div *ngFor="let cat of categories | async" class="float-lg-left card">
            <a [routerLink]="['/category/', cat.id]">
                <div class="card-header">{{cat.name}}</div>
                <div class="card-body">
                  <img src="assets/images/category-images/category_{{cat.id}}.jpg" />
                </div>
            </a>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <app-pager [collection]="categories" [range]="range" [link]="link"></app-pager>
    </div>
</div>



